<div style="float: left;  text-align: center;">
    <h3><u>Add Player</u></h3>
<table border="1px">
    <tr>
        <td>Player Id</td>
        <td><input type="text" [(ngModel)]="playerModel.id"></td>
    </tr>
    <tr>
        <td>Player Name</td>
        <td><input type="text" [(ngModel)]="playerModel.name"></td>
    </tr>
    <tr>
        <td>Player Age</td>
        <td><input type="text" [(ngModel)]="playerModel.age"></td>
    </tr>
    <tr>
        <td>Player TeamName</td>
        <td><input type="text" [(ngModel)]="playerModel.teamName"></td>
    </tr>
    <tr>
        <td>Player Avatar</td>
        <td><input type="text" [(ngModel)]="playerModel.avatar"></td>
    </tr>
    <tr>
       <td colspan="2"><button (click)="createPlayer()">Add Player</button></td>
    </tr>
