#p2{
    font-family: sans-serif;
    font-size: xx-large;
    color: blueviolet;
}

div{
    background-color: cornsilk;
    text-align: center;
    height: 50px;
    width: 100px;
    font-size: large;
}
/*I am comment*/